body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0px
}
#app {
	font-family: sans-serif;
	text-align: center;
	margin: 0;
}
#container {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: row;
}
#editor {
	border: none;
	height: fit;
	min-height: 300px;
	background-color: rgb(12, 12, 12);
	color: white;
	flex-basis: 50%;
	padding: 20px;
	font-size: 1em;
	outline: none;
	resize: none;
}
#copy-button {
	position: absolute;
	top: 0px;
	right: 50%;
	background-color: none;
	border-radius: 2px;
	border-color: white;
	padding: 10px 20px;
	margin: 15px;
	color: white;
	border-width: 1px;
	border-style: solid;
	font-size: .85em;
}
#preview {
	flex-basis: 50%;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	text-align: left;
	border: solid 1px rgb(212, 212, 212);
}
@media only screen and (max-width: 700px) {
	#container {
		flex-direction: column;
	}
	#copy-button {
		position: absolute;
		top: 0px;
		right: 0;
		background-color: rgb(12, 12, 12);
		;
		border-radius: 2px;
		outline: none;
		border-color: white;
		padding: 10px 20px;
		margin: 15px;
		color: white;
	}
}
h1 {
	margin: 0;
}
h2 {
	margin: 0;
	padding: 10;
	font-size: 16px;
}